@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@font-face {
    font-family: 'Space Mono';
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/spacemono/v6/i7dSIFZifjKcF5UAWdDRYERE_FeqHCSR.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
header.menu{
    align-items: left;
    justify-content: start;
}

li{
    font-family:'Poppins';
    color:white; 
}

a.button {
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    z-index: 99;
    right: 30px;
    font-family:'Poppins';
}
