@import url("base.css");


body {
    background: black;
    background-image: url("https://www.pixel4k.com/wp-content/uploads/2021/05/abstract-waving-4k_1620165379-1536x960.jpg");
    background-position: left 30%;
    background-repeat: no-repeat;
    background-size: 100%;
}
