@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/spacemono/v6/i7dSIFZifjKcF5UAWdDRYERE_FeqHCSR.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background: black;
    background-image: url("https://www.pixel4k.com/wp-content/uploads/2020/08/blur-abstract_1596927849-1536x864.jpg");
    background-position: left 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Space Mono';
    font-size: 300%; 
}

input[type=text]{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: #ffffff00;
    font-family: 'Space Mono';
    transition: width 0.4s ease-in-out;
    width: 230px;
    position: relative;
    left: 470px;
}

input[type=text]:focus {
    width: 26%;
}

label{
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: 'Space Mono';
    position: relative;
    left: 450px;
}

input[type=submit]{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    right: 30px;
    font-family:'Space Mono';
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    left: 620px;
}

#form1{
    padding-left: 40px;
}

#form2{
    padding-left: 30px;
}

#form3{
    padding-left: 40px;
}

#form4{
    padding-left: 20px;
}

#form5{
    padding-left: 20px;
}

#form6{
    padding-left: 50px;
}

#form7{
    padding-left: 20px;
}

#submit1{
    margin-left: -5px;
}
