@import url("base.css");

body {
    background: black;
    background-image: url("https://www.pixel4k.com/wp-content/uploads/2018/10/abstract-simple-colors-8k_1539371561.jpg");
    background-position: middle;
    background-repeat: no-repeat;
    background-size: cover;
}



h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Space Mono';
    font-size: 600%;
    position:absolute;
    top: 20%;
    left: 23%;
    
}
h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 300%;
    font-family: 'Space Mono';
    position:absolute;
    top: 55%;
    left: 35%;
}