@import url("base.css");
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

body {
    background: black;
    background-image: url("https://www.pixel4k.com/wp-content/uploads/2018/10/abstract-simple-colors-8k_1539371561.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}



h1{
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    text-shadow: 4px 4px 5px #000000;
    font-family: "Poppins", sans-serif;
    font-size: 600%;
    margin-top: 120px;
}

h1:hover{
    transition: all 0.5s ease;
    color: rgba(211, 0, 105, 0.7);
    cursor: pointer;
}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 4px 4px 5px #000000;
    font-size: 300%;
    font-family: 'Space Mono';
}

h2:hover{
    transition: all 0.5s ease;
    color: rgba(211, 0, 105, 0.7);
    cursor: pointer;
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: auto;
}

ol li{
    display: inline-block;
    list-style: none;
}