@import url("base.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body{
    background-image: url("https://www.pixel4k.com/wp-content/uploads/2020/08/blur-abstract_1596927849-1536x864.jpg");
    background-repeat: no-repeat;
    color:black;
    background-size: cover;
}

div.alignment{
    align-items: center;
    justify-content: center;
    display: grid;    
}

section.container{
    background-color: rgba(87, 02, 43, 0.45);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: grid;
    padding: 20px;
}

label{
    color: white;
    font-family: "Poppins";
    font-size: 13px;
}

h1{
    color: white;
}

.inputs input::placeholder{
    color: rgba(13, 0, 26, 0.8);
}

.inputs input{
    outline: none;
}


form input[type=text]{
    border-radius: 4px;
    padding-left: 5px;
    width: 230px;
}

form input[type=email]{
    border-radius: 4px;
    padding-left: 5px;
    width: 230px;
}

form input[type=password]{
    border-radius: 4px;
    padding-left: 5px;
    width: 230px;
}

form input[type=submit]{
    border-radius: 4px;
    padding-left: 5px;
    width: 230px;
    transition: all 0.3s ease;
}

form input[type=submit]:hover{
    letter-spacing: 0.3px;
    background-color: rgba(87, 02, 43, 1);
    color: white;
}

a#user_register_page.button{
    display: none;
}