@import url("base.css");

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Space Mono';
    font-size: 300%; 
}

body {
    background: black;
    background-image: url("https://www.pixel4k.com/wp-content/uploads/2021/05/abstract-waving-4k_1620165379-1536x960.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
    height: 400px;
    width: 70%;
    border-radius: 8px;
    margin: auto; 
}

.enterprises{
    color:white;
    display: grid;
    align-items: center;
    font-family:'Poppins';
    margin-left:15%;
    margin-right: 15%;
    background-color: rgba(0,0,0, 0.5);
    border: white solid 1px;
    border-radius: 5px;
    margin-top: 1%;
}

.enterprises p{
    margin-left: 2%;
}

.enterprises a{
    text-decoration: none;
    color: blueviolet;
}



