@import url("base.css");

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Space Mono';
    font-size: 300%; 
}

body {
    background: black;
    background-image: url("https://www.pixel4k.com/wp-content/uploads/2021/05/abstract-waving-4k_1620165379-1536x960.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
    height: 400px;
    width: 70%;
    border-radius: 8px;
    margin: auto; 
}

.enterprises{
    color:white;
    align-items: center;
    font-family:'Poppins';
    margin-bottom: 2%;
    border: white solid 1px;
    border-radius: 5px;
    height: 130px;
    background-color: rgba(0,0,0, 0.5);
}

p{
    text-align: top;
    text-align: left;
    margin-top: 10px;
}

#text{
    text-align: bottom;
    text-align: left;
}

.enterprises p{
    margin-left: 1%;
}

.enterprises a{
    text-decoration: none;
    color: blueviolet;
}



