@import url("base.css");

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Space Mono';
    font-size: 300%; 
}

body {
    background: black;
    background-image: url("https://www.pixel4k.com/wp-content/uploads/2021/05/abstract-waving-4k_1620165379-1536x960.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 70%;
    /* The width is the width of the web page */
    border-radius: 8px;
    margin: auto; 
}

.enterprises{
    color:white;
    display: grid;
    align-items: center;
}


