body {
    background: black;
    background-image: url("https://i.pinimg.com/originals/dd/9b/6a/dd9b6a7d5bfc1272d4074c52489198cb.jpg");
    background-repeat: no-repeat;
    background-position: center top ;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
}
a1{

}
a2{
    
}
a3{
    
}