<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='enterprise_register_page.css') }}">
</head>
<h1>CADASTRO DE EMPRESA</h1>
<form action="/enterprise_register" method="POST">
    <label for="nome">Nome____</label>
    <input type="text" id="nome" name="nome"><br><br>
    <label for="senha">Senha___</label>
    <input type="text" id="senha" name="senha"><br><br>
    <label for="tipo">Tipo____</label>
    <input type="text" id="tipo" name="tipo"><br><br>
    <label for="bairro">Bairro__</label>
    <input type="text" id="bairro" name="bairro"><br><br>
    <label for="cidade">Cidade__</label>
    <input type="text" id="cidade" name="cidade"><br><br>
    <label for="rua">Rua_____</label>
    <input type="text" id="rua" name="rua"><br><br>
    <label for="numero">Numero__</label>
    <input type="text" id="numero" name="numero"><br><br>
    <input type="submit" value="Submit">
</form>