<h1>Cadastro de Empresa</h1>
<form action="/enterprise_register" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome"><br><br>
    <label for="senha">Senha:</label>
    <input type="text" id="senha" name="senha"><br><br>
    <label for="tipo">Tipo:</label>
    <input type="text" id="tipo" name="tipo"><br><br>
    <label for="bairro">Bairro:</label>
    <input type="text" id="bairro" name="bairro"><br><br>
    <label for="cidade">Cidade:</label>
    <input type="text" id="cidade" name="cidade"><br><br>
    <label for="rua">Rua:</label>
    <input type="text" id="rua" name="rua"><br><br>
    <label for="numero">Numero:</label>
    <input type="text" id="numero" name="numero"><br><br>
    <input type="submit" value="Submit">
</form>