<!DOCTYPE html>
<html>
    <head>
        {% if css_file%}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=css_file) }}">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_page.css') }}">
        {% endif %}
        {% if title %}
        <title>{{ title }} - Nome Criativo</title>
        {% else %}
        <title>Nome Criativo</title>
        {% endif %}
    </head>
    <body>
        <header class="menu">
            <a href="{{ url_for('main_page') }}" class="button">HOME</a>
            {% if user.is_authenticated %}
            {% if user.username %}
            <a href="{{ url_for('user_page')}}"class="button">{{user.username}}</a>
            {% else %}
            <a href="{{ url_for('enterprise_page')}}"class="button">{{user.enterprise_name}}</a>
            {% endif%}
            <a href="{{ url_for('logout') }}" class="button">LOGOUT</a>
            {% else %}
            <a href="{{ url_for('enterprise_register_page') }}" class="button">SEJA UM ANUNCIANTE</a>
            <a href="{{ url_for('user_register_page') }}" class="button">REGISTRO</a>
            <a href="{{ url_for('login_page') }}" class="button">LOGIN</a>
            {% endif %}
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>