{% extends "base.html" %}
{% block content %}
<div class="alignment">
<section class="container">
<h1>CADASTRO DE EMPRESA</h1>
    <form action="" method="post" >
        <div class="inputs">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.street.label }}<br>
            {{ form.street(size=32) }}<br>
            {% for error in form.street.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}<br>
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.district.label }}<br>
            {{ form.district(size=32) }}<br>
            {% for error in form.district.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </div>
        <p>{{ form.submit() }}</p>
    </form>
</section>
</div>
{% endblock %}
