{% extends "base.html" %}
{% block content %}
<h1>Olá, {{user.enterprise_name}}</h1>
<!-- Rio de Janeiro - Google Maps -->
<div class="mapouter"><div class="gmap_canvas"><iframe width="669" height="480" id="gmap_canvas" src="https://maps.google.com/maps?q=rio%20de%20janeiro&t=&z=9&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:480px;width:669px;}</style><a href="https://www.embedgooglemap.net">embed google map on website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:480px;width:669px;}</style></div></div>


{% endblock %}