{% extends "base.html" %}
{% block content %}
<div class="alignment">
<section class="container">
  
  <h1>Adicione Eventos!</h1><br><br>
  
      <form action="{{url_for('event_register_page', name = title)}}", method='post', novalidate>
          <div class="inputs">
            {{ form.hidden_tag() }}
            <p>
              {{ form.name.label }}<br>
              {{ form.name(size=32) }}<br>
              {% for error in form.name.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
            <p>
                {{ form.text.label }}<br><br>
                {{ form.text(size=32) }}<br>
                {% for error in form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
              {{ form.date.label }}
              {{ form.date(size=32) }}<br>
              {% for error in form.date.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
            {{ form.age_group.label }}
            {{ form.age_group }}<br>
            {% for error in form.age_group.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
          {{ form.localization }}{{ form.localization.label }}
          {% for error in form.localization.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
        {{ form.interest.label }}
        {{ form.interest }}<br>
        {% for error in form.interest.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
        </div>
        <p>{{ form.submit() }}</p> 
      </form>
    </section>
</div>
{% endblock %}