{% extends "base.html" %}
{% block content %}
<main class="container">
<h1>LOGIN</h1>
    <form action="" method="post" >
        <div class="inputs">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        </div>
        <p>{{ form.submit() }}</p>
    </form>
</main>
{% endblock %}
