{% extends "base.html" %}
{% block content %}

<h1>Olá, {{user.username}}</h1>

<!-- Rio de Janeiro - Google Maps API key: "AIzaSyCPIXNFud0mQJi53-Eg2UDOKRLridhrgb8" -->

<div id="map"></div>

<script>
    // Initialize and add the map
    function initMap() {
      // The location of RJ
      const location = { lat: -22.9170472 ,lng: -43.6019022 };
      // The map, centered at RJ
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 4,
        center: location,
      });
      // The marker, positioned at RJ
      const marker = new google.maps.Marker({
        position: location,
        map: map,
      });
    }
  </script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPIXNFud0mQJi53-Eg2UDOKRLridhrgb8&callback=initMap&libraries=&v=weekly" async></script>
{% endblock %}
<!-- Rio de Janeiro - Google Maps API key: "AIzaSyCPIXNFud0mQJi53-Eg2UDOKRLridhrgb8" -->

