<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_register_page.css') }}">
</head>
<h1>CADASTRO DE USUÁRIO</h1><br><br>
<form action="/user_register" method="POST">
    <label id="form1" for="nome">Nome:</label>
    <input type="text" id="nome" name="nome"><br><br>
    <label id="form2" for="senha">Senha:</label>
    <input type="text" id="senha" name="senha"><br><br>
    <label id="form3" for="idade">Idade:</label>
    <input type="text" id="idade" name="idade"><br><br>
    <label id="form4" for="bairro">Bairro:</label>
    <input type="text" id="bairro" name="bairro"><br><br>
    <label id="form5" for="cidade">Cidade:</label>
    <input type="text" id="cidade" name="cidade"><br><br>
    <label id="form6" for="cpf">Documento:</label>
    <input type="text" id="cpf" name="cpf"><br><br><br><br>
    <input id="submit1" type="submit" value="REGISTRAR USUÁRIO">
</form>