{% extends "base.html" %}
{% block content %}

<h1>Olá, {{user.username}}</h1>

<!-- Rio de Janeiro - Google Maps API key: "AIzaSyCPIXNFud0mQJi53-Eg2UDOKRLridhrgb8" -->

{% for enterprise in empresa.query.limit(20).all()%}
<div class="enterprises"><p><a href="{{url_for('enterprise_page_specific',name=enterprise.enterprise_name)}}">{{ enterprise.enterprise_name }}</a> Endereço: <b>{{ enterprise.street }}</b></p></div>
{% endfor %}
{% endblock %}
<!-- Rio de Janeiro - Google Maps API key: "AIzaSyCPIXNFud0mQJi53-Eg2UDOKRLridhrgb8" -->

