{% extends "base.html" %}
{% block content %}

<h1>Olá, {{user.username}}</h1>
<!--
<div id="map"></div>

<script>

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(initMap);
      }
    }
    // Initialize and add the map
    function initMap(position) {
      // The location of user
      const location = { lat: position.coords.latitude ,lng: position.coords.longitude };
      // The map, centered at user
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 12,
        center: location,
      });
      // The marker, positioned at city's user
      const marker = new google.maps.Marker({
        position: location,
        map: map,
      });
    }
  </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJTxu6Qp90QIoM5aUsK2rM8xqWEOJbZ1s&callback=getLocation&libraries=&v=weekly" async></script>
-->
<!-- Rio de Janeiro - Google Maps API key: "AIzaSyBJTxu6Qp90QIoM5aUsK2rM8xqWEOJbZ1s" -->

{% for evento in eventos.query.limit(20).all()%}
<div class="enterprises">
  <p>
    <a href="{{url_for('event_page',name=evento.name)}}">{{ evento.name }}</a>
    <br><br><br><br> 
    Descrição: 
    <b>{{ evento.body }}</b>
  </p>
</div>

{% endfor %}
{% endblock %}
